* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1{
    margin: 50px 0 16px 0;
}

form {
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 4px;
}

input[type = 'submit']:hover {
    cursor: pointer;
}

.mensagemConfirmacao h1{
    padding: 8px;
    border: 2px solid rgb(4, 100, 20);
    background-color: rgb(28, 179, 53);
    color: #fff;
}

.mensagemErro h1{
    padding: 8px;
    border: 2px solid rgb(100, 4, 4);
    background-color: rgb(179, 28, 28);
    color: #fff;
}
